@font-face {
    font-family: ws-regular;
    src: url(../Fonts/WorkSans-Regular.ttf);
  }
@font-face {
    font-family: ws-bold;
    src: url(../Fonts/WorkSans-Bold.ttf);
  }
@font-face {
    font-family: ws-semibold;
    src: url(../Fonts/WorkSans-SemiBold.ttf);
  }
@font-face {
    font-family: ws-medium;
    src: url(../Fonts/WorkSans-Medium.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-top: 35px;
    margin-bottom: 35px;
}
/* 
responsive container
*/
.mainbox,
.subbox{
    margin: 0 auto;
}
@media (min-width: 576px) {
    .mainbox {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .mainbox {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .mainbox {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .mainbox {
        max-width: 1140px;
    }
}
@media (min-width: 1460px) {
    .subbox {
        max-width: 1400px;
    }
}
header{
    background-color: #FFF4E7;
}

body {
    margin: 0;
    font-family: ws-regular;
    font-size: 1rem;
    color: #727272;
    background-color: #fff;
    line-height: 1.5;
  }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #131313;
}
h1, .h1 {
    font-size: 4rem;
}

h2, .h2 {
    font-size: 2.813rem;
}
h3, .h3 {
    font-size: 1.563rem;
}
h4, .h4 {
    font-size: 1.25rem;
}
a{
    text-decoration: none;
    color: inherit;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
/* styles */
nav{
    display: grid;
    grid-template-columns: 300px auto;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}


.btn-basic{
    font-size: 1.563rem;
    font-family: ws-medium;
    color: #fff;
    background-color: #FF900E;
    padding: 25px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
.btn-basic:hover {
    color: #131313;
    transition: .5s;
}
article{
    display: flex;
    justify-content: center;
}
.article-box{
    max-width: 861px;
    margin: 20px;
    text-align: center;
}
.bnr{
    width: 100%;
    border-radius: 8px;
}
.feature-box{
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 60px;
}
.feature-card{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 300px;
    gap: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.feature-card img{
    width: 100%;
    height: 100%;
}
.feature-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.feature-info-box h2 span:nth-child(1){
    color: #727272;
}
.feature-info-box h2 span:nth-child(2){
    color: #FF900E;
}
.experience-box{
    display: grid;
    grid-template-columns: 41% 52%;
    column-gap: 7%;
}
.experience-title-box{
    display: flex;
    flex-wrap: nowrap;
}
.experience-title-bar{
    width: 10px;
    background-color: #FF900E;
    margin-right: 20px;
}
.experience-item-box{
    box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 25px 30px;
    margin-bottom: 25px;
}
.experience-value{
    border-radius: 5px;
    background-color: #FF900E;
    text-align: center;
    padding: 25px;
    display: inline-block;
}
.experience-value *{
    color: #fff;
}
.experience-bnr{
    border-radius: 5px;
    
}
.experience-bnr img{
    width: 100%;
}
.experience-bnr{
    position: relative;
}
.experience-value{
    position: absolute;
    z-index: 1;
    bottom: -70px;
    left: -44px;
}
.fact-boxes{
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.fact-boxes img{
    width: 45px;
}
.facts-box{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
}
.facts-title{
    max-width: 540px;
}
.sponsors-box{
    text-align: center;
}
.sponsors-title{
    margin: 0 auto;
    max-width: 550px;
}
.sponsor-logo-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.sponsor-logo-box img{
    max-width: 160px;
}
.contact-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15%;
}
.conatct ul{
    list-style-type: none;
    margin-left: -15px;
}
.conatct ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.conatct ul li img{
    width: 60px;
}
.mail form textarea{
   
    border: 2px solid #FF900E;
    border-radius: 5px;
    color: #131313;
    display: block;
    resize: none;
    max-width: 320px;
    padding: 10px;
}
.mail-btn{
    padding: 10px 20px;
}
footer{
    background-color: #FFF4E7;
}
.footbox{
    padding: 30px 15px;
    text-align: center;
}
#sponsors{
    margin-top: 140px;
}
.sponsor-logo-box{
    margin-top: 40px;
}
#contact{
    margin-top: 100px;
}
#experience{
    margin-top: 100px;
}
#facts{
    margin-top: 100px;
}
.facts-box{
    margin-top: 50px;
}
/*
---------Hover Effects-------------
*/
.menu p:hover{
    color: #131313;
}
.fact-boxes:hover{
    transform: scale(1.1);
    transition: .5s linear;
    box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 7px 6px rgba(0,0,0,0.16);
}






/*media query start from here*/
@media all and (max-width: 1440px) {
/* large screen */
.facts-box{
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: center;
}
}
@media all and (max-width: 992px) {
/* medium screen */
    nav{
        grid-template-columns: auto;
    }
    .logo{
        text-align: center;
    }
    .menu{
        justify-content: center;
    }
    .feature-box{
        display: grid;
        grid-template-columns: auto;
        column-gap: 60px;
    }
    .feature-info{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .experience-box{
        grid-template-columns: 100%;
        column-gap: 0;
    }
    .experience-value{
        left: 0;
    }
    #experience{
        margin-bottom: 100px;
    }
    .facts-box{
        grid-template-columns: repeat(2, auto);
        gap: 40px;
        justify-content: center;
    }
    .contact-box{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}
@media all and (max-width: 768px) {
/* small screen */


}
@media all and (max-width: 576px) {
/* xtra small screen */
    .menu{
        flex-direction: column;
        gap: 10px;
    }
    .feature-card{
        grid-template-columns: auto;
    }
    .facts-box{
        grid-template-columns: repeat(1, auto);
    }
    .mainbox{
        padding-left: 15px;
        padding-right: 15px;
    }
}
